/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-sep-2017, 7:13:02
    Author     : xhuix
*/

/*table {
    display: block;
    overflow: auto;
    height: 500px;
}*/


#divTaulaAbsenciesData{
    height: 500px;
    
}
a { cursor: pointer; }

#loadingDiv{
  position:absolute;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  /*background-color:#666;*/
  background-image:url('../gif/Spin-1s-200px.gif');
  background-repeat:no-repeat;
  background-position:center;
  z-index:1;
  opacity: 0.8;
  
}