/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-sep-2017, 11:53:55
    Author     : xhuix
*/

#taulaJustifiAbsencies {
    display: block;
    overflow: auto;
    height: 600px;
}