/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-ago-2017, 7:58:33
    Author     : xhuix
*/

#taulaMeusGrups {
    display: block;
    overflow: auto;
    height: 250px;
}


#taulaMeusGrups td:nth-child(1) {
    width: 40px;   
}
    
#taulaMeusGrups td:nth-child(2) {
    width: 50px;
}

#taulaMeusGrups td:nth-child(3) {
    width: 80px;
}
#taulaMeusGrups td:nth-child(4) {
    width: 150px;
}
#taulaMeusGrups td:nth-child(5) {
    width: 40px;
}

/*#taulaAlumnesMeuGrup{
     display: block;
    overflow: auto;
    height: 500px;
    
}*/

#divAlumnesMeuGrup{
    
    height: 500px;
}
